*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
body{
  width: 100%;
  height: 100%;
  background-color: #111;
}
.card{
width: 300px;
border: 1px solid white;
padding: 20px;
text-align: center;
border-radius: 10px;
background-color: #222;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card p{
  margin: 20px 0px;
}
.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
.card button{
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 10px 20px;
  background-color: white;
  color: black;
}