body {
  background: #000;
  color: white;
  font-family: sans-serif;
}

.app {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.grid {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.card {
  text-align: center;
}

.card img,
.img-wrapper img {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card h2,
.author {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.no-user {
  color: gray;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.btn {
  background: #fbbf24;
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background: #f59e0b;
}

.btn:active {
  transform: scale(0.95);
}
