*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;

}
div button{
  height: 50px;
  width: 100px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(216, 246, 152);
  
}