.container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.box{
    width: 30%;
    height: 50%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;

}