.home_style{
  width: 100%;
  height: 500px;
  background-color: blue;
  color: white;
  border-radius: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100%;
  background-color: aqua;
  color: black;
  border-radius: 20px;
}
.Homecontainer{
  width: 100%;
  background-color: green;
  color: white;
  border-radius: 20px;
  margin: 20px;
}