*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  margin: 20px;
  gap: 20px;

}
.card_div{
  padding: 20px;
  border: 2px solid black;
  background-color: rgb(170, 178, 178);
  border-radius: 15px;
}